<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <extensions>
    <add assembly="Gbase.NLog.JsonTarget" />
  </extensions>
  
  <!-- 
    Properties
      url - The target url (layout friendly)
      field - A property in the json object to send. Can either be a layout or a property of the LogEventInfo class.
  -->
  <targets async="true">
    <target name="SampleTarget"
          xsi:type="JsonPost"
          url="http://myrestservice.com/logjson/">

      <field name="timestamp" layout="${date:universalTime=True:format=yyyy-MM-ddTHH\:mm\:ss.FFFZ}" />
      <field name="msg" layout="${message}" />
      <field name="src" layout="${logger}" />
      <field name="lvl" layout="${level}" />
      <field name="exception" />                <!--The actual exception object serialized to json-->
      <field name="keyprop" property="a key"/>  <!--A value in the properties bag under key 'a key'-->
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="SampleTarget"/>
  </rules>

</nlog>